<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp API</h1>
         <h3>How to use</h3>

        <p>Main URL:  <a href="https://ts-microservice-api.herokuapp.com" target="_blank">https://ts-microservice-api.herokuapp.com/</a></p>
        <p>Example use:</p>
        <h4>With a date string:</h4>
        <a href="https://ts-microservice-api.herokuapp.com/June%2012%201995" target="_blank">https://ts-microservice-api.herokuapp.com/June%2012%201995</a><br><br>
        <code>
          {
              "unix": 802915200000,
              "natural": "June 12, 1995"
          }
        </code>
        <h4>With unix timestamp:</h4>
        <a href="https://ts-microservice-api.herokuapp.com/0" target="_blank">https://ts-microservice-api.herokuapp.com/0</a><br><br>
        <code>
        {
            "unix": "0",
            "natural": "January 1, 1970"
        }
        </code>
      </div>
   </body>

</html>
